# 1. 메모리 변수 제거

In [1]:
# 메모리 변수 모두 제거
all = [var for var in globals() if var[0] != "_"]
for var in all:
    del globals()[var]

# 2. 사용 패키지

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# plt.rc('font', family = 'Malgun Gothic') # WINDOWS
plt.rc('font', family = 'AppleGothic') # MAC
plt.rc('axes', unicode_minus = False)
import warnings
warnings.filterwarnings('ignore')

# 3. 데이터 로드

In [3]:
result = pd.read_csv('data/submission_complete.csv')

# 4. 데이터 정보

In [4]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      50 non-null     object
 1   중식계     50 non-null     int64
 2   석식계     50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB

In [5]:
result

            일자   중식계  석식계
0   2021-01-27   987  200
1   2021-01-28   950  481
2   2021-01-29   605  249
3   2021-02-01  1169  556
4   2021-02-02   986  468
5   2021-02-03   982  431
6   2021-02-04   969  511
7   2021-02-05   636  329
8   2021-02-08  1288  636
9   2021-02-09  1021  489
10  2021-02-10   815  194
11  2021-02-15  1239  665
12  2021-02-16  1114  616
13  2021-02-17  1009  389
14  2021-02-18   867  480
15  2021-02-19   632  327
16  2021-02-22  1215  631
17  2021-02-23  1026  593
18  2021-02-24   877  315
19  2021-02-25   858  483
20  2021-02-26   599  275
21  2021-03-02  1064  573
22  2021-03-03   985  452
23  2021-03-04   940  515
24  2021-03-05   632  357
25  2021-03-08  1248  656
26  2021-03-09  1151  667
27  2021-03-10   970  432
28  2021-03-11   931  496
29  2021-03-12   679  278
30  2021-03-15  1240  663
31  2021-03-16   988  533
32  2021-03-17   992  412
33  2021-03-18   904  463
34  2021-03-19   617  273
35  2021-03-22  1192  603
36  2021-03-23   988  535
37  2021-03-24   917  332
38  2021-03-25   849  449
39  2021-03-26   559  270
40  2021-03-29  1170  601
41  2021-03-30   986  535
42  2021-03-31   916  231
43  2021-04-01   850  450
44  2021-04-02   582  276
45  2021-04-05  1188  600
46  2021-04-06   995  529
47  2021-04-07   958  424
48  2021-04-08   897  458
49  2021-04-09   588  284